In [1]:
import numpy as np
import pandas as pd
import math
from sklearn import metrics

from scipy.stats import entropy

import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates #to format dates on our plots
%matplotlib inline
import seaborn as sns

In [2]:
import env

In [3]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [4]:
sql = '''
select *
from logs
join cohorts on logs.cohort_id = cohorts.id;
'''

In [5]:
df = pd.read_sql(sql, get_connection('curriculum_logs'))

In [6]:
df.index = pd.to_datetime(df.date + " " + df.time)

In [7]:
df = df.drop(columns=['date','time', 'created_at', 'updated_at', 'deleted_at'], axis=1)

In [8]:
# df.to_csv('curriculum_logs.csv')

In [9]:
# df = pd.read_csv('curriculum_logs.csv')

In [10]:
df.head()

,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,program_id
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2

In [11]:
df.head(10)

,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,program_id
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,8,Hampton,#hampton,2015-09-22,2016-02-06,1
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2
2018-01-26 09:56:41,javascript-i/loops,2,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2
2018-01-26 09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2
2018-01-26 09:56:48,javascript-i/functions,3,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2
2018-01-26 09:56:59,javascript-i/loops,2,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2
2018-01-26 09:58:26,javascript-i/functions,4,22.0,97.105.19.61,22,Teddy,#teddy,2018-01-08,2018-05-17,2

In [12]:
df.shape

(847330, 10)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 847330 entries, 2018-01-26 09:55:03 to 2021-04-21 16:44:39
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   path        847329 non-null  object
 1   user_id     847330 non-null  int64
 2   cohort_id   847330 non-null  float64
 3   ip          847330 non-null  object
 4   id          847330 non-null  int64
 5   name        847330 non-null  object
 6   slack       847330 non-null  object
 7   start_date  847330 non-null  object
 8   end_date    847330 non-null  object
 9   program_id  847330 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 71.1+ MB

In [14]:
df.describe()

             user_id      cohort_id             id     program_id
count  847330.000000  847330.000000  847330.000000  847330.000000
mean      456.707344      48.501049      48.501049       2.086004
std       250.734201      32.795482      32.795482       0.388231
min         1.000000       1.000000       1.000000       1.000000
25%       263.000000      28.000000      28.000000       2.000000
50%       476.000000      33.000000      33.000000       2.000000
75%       648.000000      57.000000      57.000000       2.000000
max       981.000000     139.000000     139.000000       4.000000

In [15]:
df.isnull().sum()

path          1
user_id       0
cohort_id     0
ip            0
id            0
name          0
slack         0
start_date    0
end_date      0
program_id    0
dtype: int64

In [16]:
df['cohort_id'] = df.cohort_id.fillna(0)

In [17]:
df.isnull().sum()

path          1
user_id       0
cohort_id     0
ip            0
id            0
name          0
slack         0
start_date    0
end_date      0
program_id    0
dtype: int64

In [18]:
for col in df.columns:
    print(col)
    print(df[col].value_counts(),'\n')

path
/                                      45854
javascript-i                           18203
toc                                    17591
search/search_index.json               17534
java-iii                               13166
                                       ...
html-css/grid/css-grid-fundamentals        1
2.03.03_Power                              1
slidesexceptions_and_errorhandlings        1
jacascript-i/introdection                  1
capstone/53                                1
Name: path, Length: 2224, dtype: int64

user_id
11     17913
64     16322
53     12329
314     7783
1       7404
       ...
952        1
649        1
940        1
163        1
652        1
Name: user_id, Length: 911, dtype: int64

cohort_id
28.0     84031
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: cohort_id, dtype: int64

ip
97.105.19.58       268648
97.105.19.61        60530
192.171.117.210      9124
71.150.217.33        6791
76.185.145.231       4754
                    ...
154.21.28.158           1
24.243.3.200            1
95.181.238.17           1
38.140.212.203          1
110.77.182.87           1
Name: ip, Length: 5200, dtype: int64

id
28     84031
33     40730
29     38096
62     37109
53     36902
24     35636
57     33844
56     33568
51     32888
59     32015
22     30926
58     29855
32     29356
23     28534
52     28033
26     27749
34     26538
25     25586
31     25359
132    23691
55     21582
27     20743
61     17713
134    16623
135    16397
133    14715
14      9587
1       8890
137     8562
21      7444
138     7276
17      4954
13      2845
18      2158
8       1712
139     1672
19      1237
16       755
15       691
7        598
12       302
11       253
2         93
6         72
9          5
4          4
5          1
Name: id, dtype: int64

name
Staff         84031
Ceres         40730
Zion          38096
Jupiter       37109
Fortuna       36902
Voyageurs     35636
Ganymede      33844
Apex          33568
Deimos        32888
Darden        32015
Teddy         30926
Hyperion      29855
Betelgeuse    29356
Ulysses       28534
Europa        28033
Xanadu        27749
Bayes         26538
Wrangell      25586
Andromeda     25359
Kalypso       23691
Curie         21582
Yosemite      20743
Bash          17713
Luna          16623
Marco         16397
Easley        14715
Lassen         9587
Arches         8890
Florence       8562
Sequoia        7444
Neptune        7276
Olympic        4954
Kings          2845
Pinnacles      2158
Hampton        1712
Oberon         1672
Quincy         1237
Niagara         755
Mammoth         691
Glacier         598
Joshua          302
Ike             253
Badlands         93
Franklin         72
Apollo            5
Denali            4
Everglades        1
Name: name, dtype: int64

slack
#              110569
#ceres          40730
#zion           38096
#jupiter        37109
#fortuna        36902
#voyageurs      35636
#ganymede       33844
#apex           33568
#deimos         32888
#darden         32015
#teddy          30926
#hyperion       29855
#betelgeuse     29356
#ulysses        28534
#europa         28033
#xanadu         27749
#wrangell       25586
#andromeda      25359
#kalypso        23691
#curie          21582
#yosemite       20743
#bash           17713
#luna           16623
#marco          16397
#easley         14715
#lassen          9587
#arches          8890
#florence        8562
#sequoia         7444
#neptune         7276
#olympic         4954
#kings           2845
#pinnacles       2158
#hampton         1712
#oberon          1672
#quincy          1237
#niagara          755
#mammoth          691
#glacier          598
#joshua           302
#ike              253
#badlands          93
#franklin          72
#apollo             5
#denali             4
#everglades         1
Name: slack, dtype: int64

start_date
2014-02-04    92921
2019-07-15    40730
2019-01-22    38096
2020-09-21    37109
2020-01-13    36902
2018-05-29    35636
2020-03-23    33844
2020-02-24    33568
2019-09-16    32888
2020-07-13    32015
2020-12-07    31338
2018-01-08    30926
2020-05-26    29855
2019-05-28    29356
2018-03-05    28534
2019-11-04    28033
2018-09-17    27749
2019-08-19    26538
2018-07-23    25586
2019-03-18    25359
2020-11-02    23691
2020-02-03    21582
2018-11-05    20743
2020-07-20    17713
2021-01-25    16397
2021-03-15    15838
2016-07-18     9587
2017-09-27     7444
2017-02-06     4954
2016-05-23     2845
2017-03-27     2158
2015-09-22     1712
2021-04-12     1672
2017-06-05     1237
2016-10-26      755
2016-09-26      691
2015-06-05      598
2016-03-08      302
2016-01-20      253
2014-06-04       93
2015-02-03       72
2015-03-30        5
2014-10-20        4
2014-11-18        1
Name: start_date, dtype: int64

end_date
2014-02-04    84031
2019-12-11    40730
2019-06-04    38096
2021-03-30    37109
2020-06-23    36902
2018-10-11    35636
2020-08-20    33844
2020-07-29    33568
2020-02-27    32888
2021-01-12    32015
2021-06-08    31338
2018-05-17    30926
2020-11-10    29855
2019-10-08    29356
2018-07-19    28534
2020-04-17    28033
2019-02-08    27749
2020-01-30    26538
2018-11-29    25586
2019-07-30    25359
2021-05-04    23691
2020-07-07    21582
2019-04-03    20743
2021-01-21    17713
2021-07-19    16397
2021-09-03    15838
2016-11-10     9587
2014-04-22     8890
2018-02-15     7444
2017-05-25     4954
2016-09-15     2845
2017-07-20     2158
2016-02-06     1712
2021-10-01     1672
2017-09-22     1237
2017-03-09      755
2017-02-02      691
2015-10-06      598
2016-06-30      302
2016-05-12      253
2014-08-22       93
2015-05-26       72
2015-07-29        5
2015-01-18        4
2015-02-24        1
Name: end_date, dtype: int64

program_id
2    713365
3    103412
1     30548
4         5
Name: program_id, dtype: int64

In [31]:
john = df[(df.ip == '99.43.137.186')]

In [32]:
john.head()

,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,program_id
2020-12-08 10:49:39,/,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 10:58:00,/,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 11:01:11,fundamentals/intro-to-data-science,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 11:01:11,fundamentals/AI-ML-DL-timeline.jpg,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 11:01:11,fundamentals/modern-data-scientist.jpg,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3

In [33]:
john.shape

(795, 10)

In [34]:
easley = df[df['name'] == 'Easley']

In [35]:
easley.head()

,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,program_id
2020-12-08 10:49:37,/,835,133.0,173.173.109.5,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 10:49:39,/,836,133.0,99.43.137.186,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 10:49:40,/,837,133.0,66.69.79.82,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 10:49:52,/,838,133.0,99.158.249.67,133,Easley,#easley,2020-12-07,2021-06-08,3
2020-12-08 10:50:16,/,839,133.0,130.45.49.89,133,Easley,#easley,2020-12-07,2021-06-08,3

In [36]:
easley.shape

(14715, 10)

In [46]:
easley.user_id.value_counts()

845    1891
841    1414
844    1152
837    1131
840    1018
835     974
847     909
143     808
838     798
836     795
851     778
849     744
848     653
842     608
843     550
846     400
839      92
Name: user_id, dtype: int64

In [44]:
easley.user_id.value_counts().resample('D').plot()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'